* {
    box-sizing: border-box;
  }

body{
    margin: 0;
}


h1.tituloPrincipal {
    font-family: 'Cookie', cursive; 
    text-align: center;
    font-size: 4rem; 
    font-weight: normal;
    padding: 1rem 1rem 0rem 1rem;
    margin: 0;
}
h2.subtituloPrincipal {
    font-family: 'Cookie', cursive; 
    text-align: center; 
    font-weight: normal;
    border-bottom: solid;
    border-width: 0.5px ;
    border-color: rgb(199, 199, 199);
    padding: 0rem 1rem 3rem 1rem;
    margin: 0;
}

nav{
    display: flex;
    justify-content: center;
}
nav ol{
    padding: 0;
    list-style-type: none;
    display: block;
    overflow: hidden;
}

nav li{
    padding: 0.5rem 2rem 0.5rem 2rem;
    float: left;
}

/*Formatos de contenedores de pagina principal*/
.contenido{
    display: flex;
    flex-wrap: wrap;
    margin:0 20% 0 20%;
    flex-direction: row;
}

.main{
    flex: 80%;
}
.lateral{
    flex: 20%;
}
/*Fin formatos contenedores*/


/*Contenido de los posts de pagina principal*/
.tarjeta h1{
    font-size: 1.5rem;
    margin-bottom: 3px;
}
.tarjeta article{
    margin-bottom: 50px;
}

/*Contenido del footer*/
footer{
    margin: 0;
    padding: 0;
}
.piePagina{
    display: flex;
    flex-wrap: nowrap;
    margin:10px 20% 0 20%;
}

.columnaIzq {
    flex: 50%;
    text-align: center;
}

.columnaDer{
    flex: 50%;
    text-align: center;
}
/*Fin contenido del footer*/

